.header_card {
    margin: 20px 0;
    position: sticky;
    background-color: white;
    top: 0;

    .nav{
        ul{
            list-style: none;
            li{
                display: inline-block;
                transition: .3s;
                position: relative;
                a{
                    box-sizing: border-box;
                    display: inline-block;
                    padding-top: 10px;
                    margin-right: 20px;
                    text-decoration: none;
                    color: black;
                    i{
                        color: gray;
                    }

                }
                ul{
                    background-color: white;
                    display: none;
                    position: absolute;
                    box-shadow: 0px 0px 4px;
                    border-radius: 10px;
                    width: 210px;
                    padding-bottom: 5px;
                    li{
                        margin-top: 5px;
                        display: block;
                    }
                }
                
            
            }

            li:hover{
                    ul{
                        display: block !important;
                    }
                
            }
        }
    }

    .acc{
      a{
        display: inline-block;
        color: black;
        font-size: 20px;
        margin: 0 5px;
        padding: 5px 10px;
        border-radius: 100%;
        transition: .3s;
  
      }
      a:hover{
        background-color: rgb(255, 83, 83);
        color: white;
        transform: scale(1.1);
      }

      #basket{
        position: relative;
        span{
            display: inline;
            position: absolute;
            padding: 4px;
            background-color: blue;
            color: white;
            border-radius: 100%;
            font-size: 10px;
            margin-top: -7px;
            margin-left: -7px;
        }
      }

     
    }

    .search{
        .src{
            padding: 5px;
            border: 1px solid gray;
            align-items: center;
            border-radius: 5px;
            input{
                border: none;
                outline: none;
                background-color: transparent;
            
            }
            i{
                display: inline-block;
            }
        }
    }
    
  }

  .cart_list{
    margin-top: 10rem;
    .names{
        margin: 0;
        background-color:#f6f7fb;
        color: black;
        padding: 20px 30px;
        border-radius: 10px;
        h2{
            font-size: 18px;
        }
    }

    #all_prod{
        .product{
            font-weight: bold;
            align-items: center;
            border-bottom: 1px solid gray;
    
            img{
                width: 100px !important;
                height: 100px !important;
                margin: 10px 0;
            }
            a{
                display: inline-block;
                text-decoration: none;
                color: black;
                margin: 0 20px;
            }
            
            .btn{
                background-color: rgb(184, 184, 184);
                padding: 3px 6px;
                border-radius: 150%;
                color: white;
    
            }
    
            span{
                color: gray;
            }
        }

        .promo_cart{
            align-items: center;
            margin-top: 3rem;
            display: flex;
            justify-content: space-between;
            
            button{
                border-radius: 7px;
                background-color: white;
                padding: 15px 25px;
                transition: .5s;
                border: 1px solid gray;
            }

            button:hover{
                background-color: blue;
                color: white;
                border: 1px solid blue;
            }
            .one{
                input{
                    font-size: 20px;
                    width: 35rem;
                    border: none;
                    border-bottom:1px solid gray !important;
                    outline: none;
                    margin-right: 20px;
                }


            }
        }

        .count{
            background-color: #f9f3f0;

            span{
                display: inline;
                margin-right: 30%;
            }

        }

        .info{
            margin-bottom: 10px;
            border-bottom: 1px solid gray;
        }

    }



  }



  

