.header_card {
  margin: 20px 0;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  top: 0;
}
.header_card .nav ul {
  list-style: none;
}
.header_card .nav ul li {
  display: inline-block;
  transition: 0.3s;
  position: relative;
}
.header_card .nav ul li a {
  box-sizing: border-box;
  display: inline-block;
  padding-top: 10px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}
.header_card .nav ul li a i {
  color: gray;
}
.header_card .nav ul li ul {
  background-color: white;
  display: none;
  position: absolute;
  box-shadow: 0px 0px 4px;
  border-radius: 10px;
  width: 210px;
  padding-bottom: 5px;
}
.header_card .nav ul li ul li {
  margin-top: 5px;
  display: block;
}
.header_card .nav ul li:hover ul {
  display: block !important;
}
.header_card .acc a {
  display: inline-block;
  color: black;
  font-size: 20px;
  margin: 0 5px;
  padding: 5px 10px;
  border-radius: 100%;
  transition: 0.3s;
}
.header_card .acc a:hover {
  background-color: rgb(255, 83, 83);
  color: white;
  transform: scale(1.1);
}
.header_card .acc #basket {
  position: relative;
}
.header_card .acc #basket span {
  display: inline;
  position: absolute;
  padding: 4px;
  background-color: blue;
  color: white;
  border-radius: 100%;
  font-size: 10px;
  margin-top: -7px;
  margin-left: -7px;
}
.header_card .search .src {
  padding: 5px;
  border: 1px solid gray;
  align-items: center;
  border-radius: 5px;
}
.header_card .search .src input {
  border: none;
  outline: none;
  background-color: transparent;
}
.header_card .search .src i {
  display: inline-block;
}

.cart_list {
  margin-top: 10rem;
}
.cart_list .names {
  margin: 0;
  background-color: #f6f7fb;
  color: black;
  padding: 20px 30px;
  border-radius: 10px;
}
.cart_list .names h2 {
  font-size: 18px;
}
.cart_list #all_prod .product {
  font-weight: bold;
  align-items: center;
  border-bottom: 1px solid gray;
}
.cart_list #all_prod .product img {
  width: 100px !important;
  height: 100px !important;
  margin: 10px 0;
}
.cart_list #all_prod .product a {
  display: inline-block;
  text-decoration: none;
  color: black;
  margin: 0 20px;
}
.cart_list #all_prod .product .btn {
  background-color: rgb(184, 184, 184);
  padding: 3px 6px;
  border-radius: 150%;
  color: white;
}
.cart_list #all_prod .product span {
  color: gray;
}
.cart_list #all_prod .promo_cart {
  align-items: center;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
.cart_list #all_prod .promo_cart button {
  border-radius: 7px;
  background-color: white;
  padding: 15px 25px;
  transition: 0.5s;
  border: 1px solid gray;
}
.cart_list #all_prod .promo_cart button:hover {
  background-color: blue;
  color: white;
  border: 1px solid blue;
}
.cart_list #all_prod .promo_cart .one input {
  font-size: 20px;
  width: 35rem;
  border: none;
  border-bottom: 1px solid gray !important;
  outline: none;
  margin-right: 20px;
}
.cart_list #all_prod .count {
  background-color: #f9f3f0;
}
.cart_list #all_prod .count span {
  display: inline;
  margin-right: 30%;
}
.cart_list #all_prod .info {
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
}/*# sourceMappingURL=card.css.map */